html
    head
        title=mainTtitle
        link(rel="stylesheet",  href="/css/styles.css")
    body(class="bg")
        nav
            button(type="submit") Logout
            button Edit Posts
            button Home
        h1= title
        script(src="/js/scripts.js")