html
    head
        title= title
        link(rel="stylesheet",  href="/css/styles.css")
        script(src="/js/scripts.js")
    body
         form(action="login", name='inlog')
            div(class=["input"])
                lable(for="username") Username: 
                input#id(type="text", placeholder="Put your username here", name="name")
                span(class="errorText")
            div(class=["input"])
                lable(for="password") Passsword: 
                input#id(type="text", name="password", placeholder="Password goes here") 
                span(class="errorText")
            div(class=["input"])
               button= Login

    footer
        