html
    head
        title= title
        link(rel="stylesheet",  href="/css/styles.css")
        script(src="/js/scripts.js")
    body
        h1= 'This is the main thread of posts'
        div(class="background")