html
    head
        title= title
        link(rel="stylesheet",  href="/css/styles.css")
        script(src="/js/scripts.js")
    body
        h1= Whalecome
        div(class="createPost")
            div(class='typePost')
                input#id(type="text", name="typeHere", placeholder='Type your post here')
                button(type="submit") Submit Post
        hr
        div(class="posts")