html
    head
        title= title
        link(rel="stylesheet",  href="/css/styles.css")
    body(class="bg")
        nav
            form(action="/login") 
                div
                    input(type="submit", value='Login or Create a new Account')
        div(class='main')
        script(src="/js/scripts.js")
        