html
    head
        title= title
        link(rel="stylesheet",  href="/css/styles.css")
        script(src="/js/scripts.js")
    body
    button= 'Login or Create a new Account'
        div(class='main')
        