html
    head
        title= title
        link(rel="shortcut icon", type='image/x-icon', href="/images/favicon.ico")
        link(rel="stylesheet",  href="/css/styles.css")
    body(class="bg")
        nav
            each navOption in navOptions
                a(href=navOption.path)=navOption.name
            form(action="/login") 
                div
                    input(type="submit", value='Login or Create a new Account')
        div(class='main')
        script(src="/js/scripts.js")
        