.errorText{
    color: red;
    padding: 2px;
    transform:rotate(-180deg);
}

.errorInput{
    border: solid 2px red;
}

div{
    padding: 2px;
}

input{
    height: 15px;
    width: 30px;
    font-size: 14pt;
}

.post{
    background-color: blue;
    align-items: center;
    padding: 12%;
    margin: 20px;
    border-radius: 30px;
}

.createPost{
    background-color: blue;
    align-items: center;
    padding: 12%;
    margin: 20px;
    border-radius: 30px;
}

.typeHere{
    width: 30%;
    height: 20%;
}

.typePost{
border: solid 5px darkblue;
}

