.errorText{
    color: red;
    padding: 2px;
    transform:rotate(-180deg);
}

.errorInput{
    border: solid 2px red;
}

div{
    padding: 6px;
}

nav{
    width: 99%;
    background-color: rgba(18, 59, 196, 0.8);
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    border:solid 1px darkblue;
   margin: auto;
   text-align: center;
}

nav a{
    margin: 30px;
    text-decoration: aliceblue;
    color:whitesmoke;
    font-size: 25px;
  
}

.welc{
    color: white;
    text-shadow: 3px 3px black;
}

.textThing{
    width: 100%;
    height: 175px;
    margin-bottom: 3px;
}

.nb:hover{
color: darkblue;
}

a{
    margin: 30px;
    text-decoration: aliceblue;
    color:whitesmoke;
    font-size: 25px;
}

nav a:hover{
    color: aqua;
}

.p{
    font-family: 'Franklin Gothic Medium';
    color: darkblue;
    font-size: 40px;
}

.l{
    font-family: 'Franklin Gothic Medium';
    color: whitesmoke;
    font-size: 50px;
    text-shadow: 3px 3px black;
}

.para{
    text-align: center;
}

.post{
    /* border: solid 4px darkblue; */
    background-color: blue;
    align-items: center;
    padding: 12%;
    margin: 20px;
    border-radius: 30px;
}

.bu{
    width: 100%;
    margin-top: 3px;
}

.createPost{
    border: solid 2px darkblue;
    background-color: rgba(6, 60, 235, 0.8);
    align-items: center;
    padding: 5%;
    margin: 10px;
    border-radius: 30px;
}

.typePost{
    border: solid 5px white;
    border-style: outset;
}

.bg{
    background-image: url("../images/amuPug.jpg");
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: green;
}

hr{
    border-width: 4px;
    color: darkgreen;
}

.signIn{
    background-color: RGB(0, 255, 255, .5);
    border-radius: 60px;
    border: solid 2px aqua;
    text-align: center;
    margin: auto;
    width: 60%;
}

.createAcc{
    background-color: RGB(0, 255, 255, .5);
    border-radius: 80px;
    border: solid 2px aqua;
    text-align: center;
    margin: auto;
    width: 60%;
}


